
.headerlogin
{
    width: 100%;
    font-size: x-large;
    border: 1px solid #000;
    margin-bottom:16px;
    background: moccasin;
    font-family: "Comic Sans MS",cursive;
}

.headercueva
{
    width: 100%;
    font-size: x-large;
    border: 1px solid #000;
    margin-bottom:16px;
    background: mediumaquamarine;
    font-family: "Comic Sans MS",cursive;
}

.ladoIzqCueva
{
    width: 100%;
    border: 1px solid #000;
    background: maroon;
}
.ladoIzqImg
{
    width: 100%;
 
    border: 1px solid #000;
    background: orange;
}
.ladoIzqLogin
{
width: 100%;

    border: 1px solid #000;
    background: orangered;
}

.contenido{
    width: 100%;
   
    margin-right:16px;
    margin-bottom:16px;
    border: 1px solid #000;
    background: tomato;
  
}

#mensajeintruso{
    background: red;
}

.tab{
    background: chartreuse;
}

.msjdeudor{
    background: gold;
}

.bold{
    font-weight: bolder;
}