<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="stylesheet" href="css/estilo.css"></link>

    </h:head>
    <h:body>
        <ui:composition>
            <div  class="ladoIzqLogin">
                <div class="ladoIzqImg" align="center">
                    <h:graphicImage library="img" name="lego_1.jpg" height="250"></h:graphicImage>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

