<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>OTRO IGNORADO</title>

    </h:head>
    <h:body>
        <ui:composition>
            <div  class="contenido">

                <div class="contenido" align="center">
                    <h:graphicImage library="img" name="lego_1.jpg" height="300"></h:graphicImage>   
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

