<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
        <h:head>
       
        <h:outputStylesheet library="css" name="estilo.css"/>
  
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.deudorHeader}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/Header.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/cueva/LadoIzq.xhtml"></ui:include>
            </ui:define>
            
            <ui:define name="contenido">
                <h:panelGrid columns="1" class="msjdeudor"> 
                    <h:outputLabel value="#{msj.deudor1}"/> 
                    <h:outputLabel value="#{msj.deudor2}"/>
                </h:panelGrid>
            </ui:define>
            
        </ui:composition>
        
    </h:body>
</html>

