<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
    <h:head>
       
    <link rel="stylesheet" href="css/estilo.css"></link>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo"> 
                #{msj.cuate1}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/Header.xhtml"/>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/login/LadoIzq.xhtml"/>
            </ui:define>
            
            <ui:define name="contenido">
                
                <h:form >
                        <h:dataTable styleClass="tabla" value="#{cuate.listaCuate}" var="cuate" 
                                     captionClass="caption"
                                     rowClasses="impar,par" class="tab">
                            <h:column headerClass="cabeza">
                                <f:facet name="header">#{msj.headerColumna1}</f:facet>
                                #{cuate.apellidos}
                            </h:column>
                            <h:column headerClass="cabeza" footerClass="pie">
                                <f:facet name="header">#{msj.headerColumna2}</f:facet>
                                #{cuate.nombres}
                            </h:column>
                            <h:column headerClass="cabeza">
                                <f:facet name="header">#{msj.headerColumna3}</f:facet>
                                #{cuate.cuotas}
                            </h:column>
                            <h:column headerClass="cabeza" footerClass="pie">
                                <f:facet name="header">#{msj.headerColumna4}</f:facet>
                                <h:graphicImage library="img" name="#{cuate.foto}"/>
                                <f:facet name="footer">#{msj.pieColumna4}</f:facet>
                            </h:column>                
                        </h:dataTable>
                    </h:form>
                
            </ui:define>
            
        </ui:composition>
        
        
        
        
        
        
    </h:body>
</html>

